@page "/required-relics"
@using Wayfinder.Services.Challenges;
@using Wayfinder.Services.Models;

@inherits OwningComponentBase

<MudCard>
    <MudCardHeader Class="mud-theme-primary">
        <MudText>Required Relics</MudText>
    </MudCardHeader>

    <MudCardContent>
        <MudSelect T="Challenge" Label="Challenges" MultiSelection="true" SelectedValues="_viewModel.SelectedChallenges" ToStringFunc="@_challengeConverter" SelectedValuesChanged="@OnSelectedChallengesChanged">
            @foreach (var challenge in _viewModel.Challenges)
            {
                <MudSelectItem T="Challenge" Value="challenge">@(Localizer[challenge.ChallengeId])</MudSelectItem>
            }
        </MudSelect>
    </MudCardContent>

    <MudList>

        @if (_viewModel.Requirements is not null)
        {
            var units = _viewModel.Requirements.OrderBy(x => Localizer[x.UnitId].Value);
            foreach (var unit in units)
            {
                <MudListItem>
                    <strong>@(Localizer[unit.UnitId]):</strong>
                    <span> </span>

                    @{
                        bool isFirst = true;
                        foreach (var item in unit.Details)
                        {
                            if (!isFirst)
                            {
                                <span>, </span>
                            }

                            <span>@(Localizer[item.Level].Value) (@(Localizer[item.GoalUnitId]))</span>
                            isFirst = false;
                        }
                    }
                </MudListItem>
            }
        }

    </MudList>
</MudCard>
